body {
    background-image: url("/images/Emo-grunge-wallpapers.jpg");
    background-attachment: fixed;
    background-size: contain;
    font-family: "Cutive Mono";
    color: white;
    line-height: 1.225;
}

/* This is the cursor that appears when you hover over links. */
a:hover {
    cursor: url("https://cur.cursors-4u.net/cursors/cur-7/cur608.cur"), auto;
}

/* This is the main cursor. */
* {
    cursor: url("https://cur.cursors-4u.net/cursors/cur-7/cur610.cur"), auto;
}

/* This is where the colors are rooted. */

:root {
    --background-color: rgba(0, 0, 0, 0.5);
    --font: "Cutive Mono";
    --names: #bababa;
    --links: #bababa;
    --hover: #757575;
    --borders: 3px Ridge #e5e5e5;
    --shadow: 0px 0px 8px #ffffff;
}

/* This is where links are colored. */

a:link {
    color: var(--links);
}
a:hover {
    color: var(--hover);
    text-decoration: underline;
}

a:visited {
    color: var(--links);
    text-decoration: none;
}

Footer {
    background: var(--background-color);
    border: var(--borders);
    box-shadow: var(--shadow);
    text-align: center;
    margin: 50px 0px;
}

h1 {
    padding: 5px;
    background: var(--background-color);
    border: var(--borders);
    box-shadow: var(--shadow);
    font-family: var(font);
    font-size: 17px;
    text-align: center;
}

#Status {
    padding: 10px;
    margin: 0px 20px;
    font-weight: bold;
    font-size: 14px;
}

.Container {
    width: 850px;
    max-width: 100%;
    margin: 0 auto 10px;
}

.Main {
    display: flex;
}

.One {
    padding: 10px 10px 10px 10px;
}

.Two {
    padding: 10px 10px 10px 10px;
}

.Profile {
    padding: 5px 20px 40px 10px;
    display: flex;
    text-align: right;
}

.pfp {
    padding: 2px;
    box-shadow: var(--shadow);
    float: left;
}

.Sticker {
    padding: 85px 0px 15px 33%;
}

.Sticker2 {
    margin: 20px 0px 0px 0px;
    border: var(--borders);
    box-shadow: var(--shadow);
}

.Sticker2 img {
    display: block;
}

.AboutMe {
    padding: 5px;
    margin: 13px 15px;
    background: var(--background-color);
    border: var(--borders);
    box-shadow: var(--shadow);
    font-family: var(font);
    text-align: center;
}

.Contact {
    padding: 5px;
    background: var(--background-color);
    border: var(--borders);
    box-shadow: var(--shadow);
}

.Header {
    margin: -20px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
}

.Info {
    padding: 5px;
    background: var(--background-color);
    border: var(--borders);
    box-shadow: var(--shadow);
    text-align: center;
    margin: 25px 0px 0px 0px;
}

/* Force scrollbars onto browser windowa. 
Doesn't work in Firefox */

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 0px;
    border: 1px solid #E5E5E5;
    background: #000000; 
}
::-webkit-scrollbar-thumb {
    background: #E5E5E5; 
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #E5E5E5;  
}
